body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: #45a049;
}

.hero {
    background-image: url('BackgroundImage.jpg'); /* Change to your background image */
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #6f00ff;
    animation: fadeIn 2s ease-in-out;
}

.content {
    text-align: center;
    padding: 20px;
}

.content h2 {
    color: #d900ff;
}

.content a {
    color: #4CAF50;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.animated-section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.animated-text {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}